:root{
    --color-primary-- : #fff;
    --color-secondary-- : #02eefe;
    --background-color-primary-- :#20242D;
    --background-color-secondary--:#323846;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: inter, Arial, Helvetica, sans-serif;
    background: var(--background-color-primary--);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.home, .services{
    background: var(--background-color-primary--);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.about, .portfolio{
    background: var(--background-color-secondary--);
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.portfolio{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
}

.services{
    position: relative;
    display: grid;
    place-items: center;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-color-primary--);
    height: 100vh;
    overflow-y: auto;
    padding: 2rem;
}

/* Navigation Bar */
header{
    position: sticky;
    top: 0;
    z-index: 9999;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 5rem;
    background: var(--background-color-primary--);
    padding: 0 0 5rem 0;
}

nav a{
    text-decoration: none;
}

.nav-tabs{
    display: flex;
    width: 100%;
    flex-direction: column;
    transition: all 0.3s ease;
}

/* .tab {
    position: relative;
    z-index: 1;
} */

.nav-text a{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 1.5rem;
    color: var(--color-primary--);
    cursor: pointer;
    text-decoration: none;
}

.tab{
    font-size: 14px;
    padding: 2rem;
    cursor: pointer;
    flex: 1;
    background: var(--background-color-primary--);
    list-style: none;
}

.tab > a{
    color: var(--color-primary--);
    transition: 0.3s;
}

.nav-tabs .tab > a:hover,
.nav-tabs a.active{
    color: var(--color-secondary--);
}

.nav-icon{
    width: 30px;
    height: 30px;
    margin: 1rem;
    color: var(--color-primary--);
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.nav-toggler{
    opacity: 0.7;
    transition: box-shadow 0.15s;
}

/* COLLAPSIBLE STATE */
.collapsible-content{
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

/* OPEN STATE */
.collapsible--expanded .collapsible-content{
    max-height: 500px;
    opacity: 1;
}

.nav.collapsible--expanded .nav-toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

/* media query for wider screen */
@media (min-width: 768px) {
    .nav-toggler{
        display: none;
    }

    .nav-text{
        margin: 0 6rem;
    }

    .nav-tabs{
        width: auto;
        display: flex;
        flex-direction: row;
        font-size: 1.6rem;
    }

    .collapsible-content{
        max-height: none;
        opacity: 1;
        overflow: visible;
    }

    .tab{
        border: none;
    }

    .menu-contact{
        margin-right: 4rem;
    }
}

/* Typography */
.texts{
    /* padding: 0 1.5rem; */
    color: var(--color-primary--);
    margin: 0;
}

h1{
    font-size: 3.2rem;
    font-weight: 900;
    padding: .2rem 0;
    margin: 0;
}

h2{
    font-size: 2.8rem;
    font-weight: 800;
    padding: .2rem 0;
    margin: 0;
}

h3{
    font-size: 2.6rem;
    font-weight: 800;
    margin: 0;
}

h4{
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.2rem 0;
    margin: 0;
    border: none;
}

h1, h2, h3, h4, p{
    color: var(--color-primary--);
}
.texts p{
    padding: 1.5rem 0;
    margin: 0;
    font-size: 1.2rem;
}

h2 span, h3 span, h4 span{
    color: var(--color-secondary--);
}

/* Icons */
.home .icons{
    background: var(--background-color-primary--);
    padding: 0.3rem 0 0.7rem 0;
}

.page-icon{
    color: var(--color-secondary--);
    width: 25px;
    height: 25px;
    padding: 5px;
    cursor: pointer;
}

.circled-icon{
    border: 1.5px solid var(--color-secondary--);
    background: var(--background-color-primary--);
    border-radius: 50%;
    margin: 0 0.3rem;
    transition: all 0.3s ease;
}

.circled-icon:hover{
    color: var(--background-color-primary--);
    background: var(--color-secondary--);
}

.card-icon{
    width: 40px;
    height: 40px;
}

/* Buttons */
.page-button{
    padding: 0.8rem 0;
}

.about-button{
    padding: 0;
}

.page-button .button{
    /* width: 100px; */
    background-color: var(--color-secondary--);
    color: var(--background-color-primary--);
    border: none;
    border-radius: 24px;
    padding: 1.4rem 3rem;
    font-size: 12px;
    letter-spacing: .5px;
    cursor: pointer;
    box-shadow: 0 0 7px 1px var(--color-secondary--);
    transition: all .3s ease;
}

.page-button .button:hover{
    box-shadow: none;
}

/* Person Images */
.page-images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-images img{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

.home .page-images img{
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage{
    0% {
        transform: translateY(0);
    }

        50% {
        transform: translateY(-2.4rem);
    }

        100% {
        transform: translateY(0);
    }
}

.about .page-images img{
    padding: 0 2.5rem 0 0 ;
}

.about .second-half{
    padding: 0 1.2rem;
    margin-bottom: 2rem;
}

.services .title{
    margin: 4rem 0 0 0;
}

.card-container{
    max-width: 1040px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    flex-wrap: wrap;
}

.card-container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33% - 10px);
    background: var(--background-color-secondary--);
    border-radius: 10px;
    padding: 20px;
}

.card p{
    font-size: 14px;
    text-align: justify;
    line-height: 2.3rem;
}

.card button{
    margin: 1rem;
}

.portfolio .title{
    margin: 3rem 0 0 0;
}

.portfolio-container{
    display: grid;
    width: 100%;
    margin: 4.25rem;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
}

.portfolio-image{
    border-radius: 15px;
    height: 1fr;
    width: 1fr;
    position: relative;
}

.portfolio-image img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.portfolio-image .content{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    background: linear-gradient(180deg, transparent, rgba(2, 238, 254, 1));
    transition: all 0.3s ;
    border-radius: 20px;
    cursor: pointer;
}

.portfolio-image .content:hover{
    opacity: 1;
}

.content span{
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-primary--);
}

.content p{
    font-size: 16px;
    text-align: center;
    line-height: 2.5rem;
}


.content .icon-container{
    background: var(--color-primary--);
    padding:1.5rem;
    border-radius: 50%;
}

.content .hover-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 100%;
}

.contact-container .title{
    margin: 1rem;
}

.contact-container .user-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-details .all-inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-inputs .small-input{
    width: calc(100% / 2 - 5px);
    margin: 5px 0;
}

.all-inputs .big-input{
    width: calc(100%);
    margin: 5px 0;
}

.small-input input, .big-input .input{
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: none;
    background: var(--background-color-secondary--);
    padding-left: 10px;
    font-size: 13px;
    color: var(--color-primary--);
}

.small-input .input{
    height: 45px;
}

.big-input .input{
    height: 300px;
    position: relative;
    padding: 15px;
    resize: none;
}

.big-input .input::placeholder{
    position: absolute;
    top: 15px;
    left: 15px;
}

.contact-container .button{
    margin: 1rem;
}

.footer{
    display: flex;
    background: var(--background-color-secondary--);
    padding: 1.5rem 6rem;
    align-items: center;
    color: var(--color-primary--);
}

.footer .footer-text{
    margin-right: auto;
    font-size: 12px;
    font-weight: 500;
}

.footer .footer-icon{
    background: var(--color-secondary--);
    padding: .8rem 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.footer-icon .icon{
    color: var(--background-color-primary--);
    width: 1rem;
    height: 1rem;
}

/* Media query for first page */
@media (min-width: 676px) {
    .pages{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 2.5rem 0;
    }

    nav{
        padding: 0;
    }

    .texts{
        padding: 8rem 0 0 0;
    }
    .page-images img{
        min-width: 400px;
    }

    .about-texts{
        padding: 15rem 0 0 0;
    }
        .home .first-half{
        padding-left: 1.2rem;
    }
}

@media (min-width: 768px) {
    .home, .about .first-half{
        padding-left: 6rem;
    }
}

@media (max-width: 768px) {
    .home, .about .first-half{
        padding-left: 1.2rem;
    }
}

@media (max-width:1000px){
    .card-container .card{
        width: calc(50% - 10px);
        margin-bottom: 2rem;
    }
}

@media (min-width:1000px){
    .card-container{
        height: 100vh;
        padding-bottom: 15rem;
        /* margin-bottom: 1rem; */
    }
}

@media (max-width:600px){
    .card-container .card{
        width: 100%;
        margin-bottom: 1rem;
    }
}

@media (min-width:768px) {
    .portfolio-container{
        margin: 4rem 2.4rem;
    }
}

@media (min-width:1300px) {
    .portfolio-container{
        grid-template-columns: repeat(3, 405px);
        margin: 4.25;
    }
}

@media (max-width:480px){
    .all-inputs .small-input{
        width: calc(100%);
        margin: 5px 0;
    }
}

@media (max-width:768px){
    .footer{
        padding: 1.5rem 1.2rem;
    }
}
