:root{
    --color-primary-- : #fff;
    --color-secondary-- : #02EEFE;
    --background-color-primary-- :#20242D;
    --background-color-secondary--:#323846;
}

html {
    /* 62.5% of 16px = 10px */
    font-size: 62.5%;
}

body{
    margin: 0;
    padding: 0;
    font-family: inter, Arial, Helvetica, sans-serif;
    background: var(--background-color-primary--);
}

/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 5rem;
    background: var(--background-color-primary--);
    padding: 0 0 5rem 0;
}

nav a{
    text-decoration: none;
}

.nav-tabs{
    width: 100%;
}
.nav-text{
    font-size: 1.6rem;
    font-weight: 700;
    margin: 0 1.5rem;
    color: var(--color-primary--);
    cursor: pointer;
    text-decoration: none;
}

.tab{
    font-size: 14px;
    padding: 0.5rem 2rem;
    border-bottom: 0.1rem solid #424040;
    cursor: pointer;
    background: var(--background-color-primary--);
    list-style: none;
}

.tab > a{
        color: var(--color-primary--);
        transition: 0.3s;
}

.tab > a:hover{
    color: var(--color-secondary--);
}

.nav-icon{
    width: 30px;
    height: 30px;
    margin: 1rem;
    color: var(--color-primary--);
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

.nav-toggler{
    opacity: 0.7;
    transition: box-shadow 0.15s;
}

/* COLLAPSIBLE STATE */
.collapsible-content{
    max-height: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

/* OPEN STATE */
.collapsible--expanded .collapsible-content{
    max-height: 500px;
    opacity: 1;
}

.nav.collapsible--expanded .nav-toggler{
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
}

/* media query for wider screen */
@media screen and (min-width: 768px) {
    .nav-toggler{
        display: none;
    }

    .nav-text{
        margin: 0 6rem;
    }

    .nav-tabs{
        width: auto;
        display: flex;
        font-size: 1.6rem;
    }

    .collapsible-content{
        max-height: none;
        opacity: 1;
        overflow: visible;
    }

    .tab{
        border: none;
    }

    .contact{
        margin-right: 4rem;
    }
}

/* Typography */
.texts{
    padding: 0 1.5rem;
    background: var(--background-color-primary--);
    color: var(--color-primary--);
    margin: 0;
}

h1{
    font-size: 3rem;
    font-weight: 800;
    padding: .2rem 0;
    margin: 0;
}

h2{
    font-size: 2.5rem;
    font-weight: 800;
    padding: .2rem 0;
    margin: 0;
}

h3{
    font-size: 2rem;
    font-weight: 700;
    padding: 0.2rem 0;
    margin: 0;
    border: none;
}

h4{
    font-size: 1.6rem;
    font-weight: 600;
    margin: 0;
}

.texts p{
    padding: 1.5rem 0;
    margin: 0;
    font-size: 1.2rem;
}

h3 span{
    color: var(--color-secondary--);
}

/* Icons */
.icons{
    background: var(--background-color-primary--);
    padding: 0.3rem 0 0.7rem 1.5rem;
}

.page-icon{
    color: var(--color-secondary--);
    width: 15px;
    height: 15px;
    padding: 5px;
    cursor: pointer;
}

.circled-icon{
    border: 1.5px solid var(--color-secondary--);
    background: var(--background-color-primary--);
    border-radius: 50%;
    margin: 0 0.3rem;
}

/* Buttons */
.page-button{
    background: var(--background-color-primary--);
    padding: 0.8rem 1.5rem;
}

.page-button .button{
    width: 100px;
    background-color: var(--color-secondary--);
    color: var(--background-color-primary--);
    border: none;
    border-radius: 24px;
    padding: 1.2rem 0;
    font-size: 10px;
    letter-spacing: .5px;
    cursor: pointer;
    box-shadow: 0 0 3px 1px var(--color-secondary--);
}

/* Person Images */
.page-images{
    display: flex;
    justify-content: center;
    align-items: center;

}

.page-images img{
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

/* Media query for first page */
@media (min-width: 676px) { 
    .home{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav{
        padding: 0;
    }

    .page-images img{
        min-width: 400px;
    }
}

@media screen and (min-width: 768px) {
    .texts, .icons, .page-button{
        padding-left: 6rem;
    }
}