# Dependencies
node_modules/

# Environment variables
.env

# Build folders
dist/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# Python
__pycache__/
*.pyc
venv/

# Package lock files (optional)
package-lock.json
yarn.lock